# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# IDE
.vscode/
.idea/
*.iml
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*
!.env.example

# Xcode
ios/**/*.pbxuser
ios/**/*.mode1v3
ios/**/*.mode2v3
ios/**/*.perspectivev3
ios/**/*xcworkspace/xcuserdata/
ios/**/*.xcworkspace
ios/Flutter/Flutter.podspec
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.modulemap
ios/Flutter/.last_build_id
ios/Flutter/GeneratedPluginRegistrant.*

# Misc
*.log
.DS_Store
